@import 'vars';
@import 'typography';

html,body {
  font-family: Helvetica, sans-serif;
  color: $font-color--dark;
  background-color: $background--light;
  height: 100%;
  margin:0;
  padding: 0;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  -o-user-select: none;
  user-select: none;
}

.clearfix {
  clear: both;
}

.uns-main-view {
  height: 100%;
  width: 100%;
  position: absolute;
  overflow: hidden;
  background: url("../images/backgrounds/wood-background.jpg") no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

/* Alchemy Table */
.uns-alchemy-nav {
  width: 100%;
  height: 15%;
  background-color: #5C3D1F;
  opacity: 0.5;
}

.uns-alchemy-table {
  height: 85%;
  width: 100%;
}

.uns-energy-container {
  width: 80%;
  height: 100%;
  float: left;
  position: relative;
}

.uns-navigation-buttons {
  height: 100%;
  width: 20%;
  float: right;
  position: relative;
}

.uns-navigation-buttons a {
  display: block;
  height: 70%;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
}

.uns-navigation-buttons a img {
  height: 100%;
}

.uns-energy-bar {
  height: 50%;
  width: 95%;

  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 2.5%;
}

.uns-energy-bar > div {
  height: 100%;
  background-color: $primary;
}

.uns-energy-bar,
.uns-energy-bar > div {
  border-radius: 0.5em;
}

.uns-element-container,
.uns-element-container img {
  width: 3em;
  height: 3em;
}

.uns-element-container {
  text-align: center;
  color: #ccc;
}

/* Flupp */
.uns-flupp-container {
  width: 12em;
  min-height: 1em;
  background: #5C3D1F;
  opacity: 0.8;
  border-radius: 0.5em;
  color: #ccc;
  padding: 1em;
}

.uns-flupp-container:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: -0.75em;
  top: 1em;
  border-style: solid;
  border-width: 0.75em 0.75em 0.75em 0;
  border-color: transparent #5C3D1F;
}

.uns-flupp-recipes {
  margin-top: 1em;
  width: 100%;
}

.uns-flupp-recipe-ingredient {
  width: 15%;
  float: left;
}

.uns-flupp-recipe-ingredient img {
  width: 100%;
}

/* Game Over */
.uns-gameover-background {
  width: 100%;
  height: 100%;
  background: url("../images/backgrounds/game-over.jpg") no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.uns-btn-gameover {
  position: absolute;
  width: 50%;
  top: 45%;
  left: 25%;
}

.uns-btn-gameover img {
  width: 100%;
}


/* List  */
.uns-list-container {
  overflow:auto;
}

.uns-list-square-element {
  text-align: center;
  margin: 1em;
  height: 4em;
  width: 4em;
  float: left;
}

/*Element List */
.uns-detail-view {
 margin: 2.5%;
 height: 75%;
}

.uns-detail-view {
  color: #ccc;
  background-color: rgba(92, 61, 31, 0.5);
}

.uns-detail-view .uns-detail-view-left{
  width: 60%;
  height: 100%;
  float:left;
}

.uns-detail-view .uns-detail-view-right{
  height: 100%;
  width:39%;
  float:left;
  border-left: 2px solid rgba(92, 61, 31, 1);
}

.uns-details{
  margin: 1em;
}

.uns-details-heading{
  float: left;
}

.uns-details-heading img{
  float:left;
}

.uns-details-heading .info{
  margin-top: 1em;
  float:left;
}

.uns-detail-recipe-ingredient {
  margin-right: 1em;
  width: 1em;
  float: left;
}

/*Achievement Overlay*/
.uns-achievement-overlay {
  position: fixed;
  width: 100%;
  height: 20%;
  z-index: 10;
  background: rgba(255, 197, 27, .5);
}