<?xml version='1.0' encoding='utf-8'?>
<widget id="ch.unsustainable-team.unsustainable" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Unsustainable</name>
    <description>
    </description>
    <author>
        Unsustainable Team
    </author>
    <content src="index.html" />
    <access origin="*" />

    <preference name="DisallowOverscroll" value="true" />
    <preference name="Orientation" value="landscape" />
    <preference name="Fullscreen" value="true" />

    <icon src="www/images/icon.png" />
</widget>
