<?xml version='1.0' encoding='utf-8'?>
<widget id="ch.unsustainable.unsustainable-alchemy" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>UnsustainableAlchemy</name>
    <description>
    </description>
    <author>
        Unsustainable Team
    </author>
    <content src="index.html" />
    <access origin="unsustainable.ch" />

    <preference name="DisallowOverscroll" value="true" />
    <preference name="Orientation" value="landscape" />
    <preference name="Fullscreen" value="true" />

    <icon src="www/images/icons/large-icon.png" />

    <preference name="SplashScreen" value="screen" />
    <preference name="SplashScreenDelay" value="5000" />
    <platform name="android">
        <splash src="www/images/icons/splashscreen.png" density="land-hdpi"/>
        <splash src="www/images/icons/splashscreen.png" density="land-ldpi"/>
        <splash src="www/images/icons/splashscreen.png" density="land-mdpi"/>
        <splash src="www/images/icons/splashscreen.png" density="land-xhdpi"/>
    </platform>
    <platform name="ios">
		<icon src="www/images/icons/built/Icon-76.png" height="76" widht="76" />
		<icon src="www/images/icons/built/Icon-76@2x.png" height="152" widht="152" />
		<icon src="www/images/icons/built/Icon-40.png" height="40" widht="40" />
		<icon src="www/images/icons/built/Icon-40@2x.png" height="80" widht="80" />
		<icon src="www/images/icons/built/Icon-40@3x.png" height="120" widht="120" />

		<splash src="www/images/icons/splashscreen.png" height="320" width="480"/>
		<splash src="www/images/icons/splashscreen.png" height="640" width="960"/>
		<splash src="www/images/icons/splashscreen.png" height="640" width="1136"/>
        <splash src="www/images/icons/splashscreen.png" height="1024" width="768"/>
        <splash src="www/images/icons/splashscreen.png" height="2048" width="1536"/>
        <splash src="www/images/icons/splashscreen.png" height="2208" width="1242"/>
 
		<splash src="www/images/icons/splashscreen.png" width="320" height="480"/>
		<splash src="www/images/icons/splashscreen.png" width="640" height="960"/>
		<splash src="www/images/icons/splashscreen.png" width="640" height="1136"/>
        <splash src="www/images/icons/splashscreen.png" width="1024" height="768"/>
        <splash src="www/images/icons/splashscreen.png" width="2048" height="1536"/>
        <splash src="www/images/icons/splashscreen.png" width="2208" height="1242"/>
    </platform>
</widget>
