<?xml version='1.0' encoding='utf-8'?>
<widget id="ch.unsustainable-team.unsustainable" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Unsustainable</name>
    <description>
    </description>
    <author>
        Unsustainable Team
    </author>
    <content src="index.html" />
    <access origin="*" />

    <preference name="DisallowOverscroll" value="true" />
    <preference name="Orientation" value="landscape" />
    <preference name="Fullscreen" value="true" />

    <icon src="www/images/icons/icon.png" />

    <preference name="SplashScreen" value="screen" />
    <preference name="SplashScreenDelay" value="5000" />
    <platform name="android">
        <splash src="www/images/icons/splashscreen.png" density="land-hdpi"/>
        <splash src="www/images/icons/splashscreen.png" density="land-ldpi"/>
        <splash src="www/images/icons/splashscreen.png" density="land-mdpi"/>
        <splash src="www/images/icons/splashscreen.png" density="land-xhdpi"/>
    </platform>
    <platform name="ios">
        <splash src="www/images/icons/splashscreen.png" width="320" height="480"/>
        <splash src="www/images/icons/splashscreen.png" width="640" height="960"/>
        <splash src="www/images/icons/splashscreen.png" width="768" height="1024"/>
        <splash src="www/images/icons/splashscreen.png" width="1536" height="2048"/>
        <splash src="www/images/icons/splashscreen.png" width="1024" height="768"/>
        <splash src="www/images/icons/splashscreen.png" width="2048" height="1536"/>
        <splash src="www/images/icons/splashscreen.png" width="640" height="1136"/>
        <splash src="www/images/icons/splashscreen.png" width="750" height="1334"/>
        <splash src="www/images/icons/splashscreen.png" width="1242" height="2208"/>
        <splash src="www/images/icons/splashscreen.png" width="2208" height="1242"/>
    </platform>
</widget>
